{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylestory9.css' %}">
    <title>Google Books List</title>
</head>

<body onload="myFunction()" style="margin:0;">
    <div id="loader"></div>
    <div class="container" id="allbooks">
        {% if user.is_authenticated %}
        <div class="text-right" style="font-family: 'Signika', sans-serif; padding-right: 50px;">
            <br>
            <h3>Welcome, {{ user.first_name }} {{ user.last_name }}!</h3>
            <button class="btn btn-danger"><a href="{% url 'Story9:logout' %}" style="color: white">Logout</a></button>
        </div>
        {% else %}
        <div class="text-right" style="font-family: 'Signika', sans-serif; padding-right: 50px;">
            <br>
            <button class="btn btn-danger"><a href="{% url 'social:begin' 'google-oauth2' %}" style="color: white">Login
                    with Google</a></button>
            <br>
        </div>
        {% endif %}


        <h1 class="title font-kayak">Google Books List</h1>
        <h3 class="subtitle" style="display:inline;">Jumlah Favorit:</h3>
        <h3 id="favorited" style="display:inline" class="subtitle">{{ counter }}</h3>
        <div class="container">
            <section name="form">
                <form id="form" method="GET" action="{% url 'Story9:index' %}">
                    {% csrf_token %}
                    {{ searchform }}
                    <button type="submit" class="btn btn-default" id="submitbutton">Submit</button>
                    <br>
                    <br>
                </form>
            </section>
        </div>
        <table class="table">
            <thead>
                <th></th>
                <th>Judul</th>
                <th>Pengarang</th>
                <th>Tanggal Terbit</th>
                <th>Favorit</th>
            </thead>
            <tbody id="list-buku-html">
            </tbody>
        </table>
    </div>

    {% block extrajs %}
    <script type="text/javascript">
        var starafter = "{% static 'img/starafter.png' %}";
        var starbefore = "{% static 'img/starbefore.png' %}";
        var story_9_url = "{% url 'Story9:index' %}";
        var get_book_url = "{% url 'Story9:get_book' %}";
    </script>
    <script type="text/javascript" src="{% static 'js/buku.js' %}"></script>
    {% endblock %}


</body>

</html>