body {
    font-family: "Lato";  
    color:#373f49;  
}

.dropdown-backdrop {
    position: static;
}

.BlueNavbar {
    background-color: #89E6DD;
    border-color: transparent;
    text-align: center;
}

.GreenNavbar {
    background-color: #80ff80;
    border-color: transparent;
    text-align: center;
    
}


.navbar > .nav > li > a:hover, .navbar .nav > li > a:focus {
    background-color: #E5E9F2;
    color: #373f49;
}

.btn {
    background-color: #47525E;
    color: white;
    border-color: transparent;
    margin-right: 10px;
}

.diatas {
    text-align: center;
    text-align: center;
    margin-top: 5vw;
}

.deskripsi-diri{
    height: 15vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 100px;
    background-color: #c0f2ed;
}

#accordion{
    margin-left: 100vw;
    margin-right: 100vw;
    margin-top: 100px;
}

.deskripsi-diri-hijau{
    height: 15vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 100px;
    background-color: #80ff80;
}


@media screen and (min-width: 601px) {
    .deskripsi-diri {
      font-size: 80px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .deskripsi-diri {
      font-size: 30px;
    }
  }


.media-object{
    margin-top:2vw;
    width: 11vw;
    height: 11vw;
    border-radius: 50%;
}

.media-body {
    padding-top: 40px;
}

#deskripsidiri, #deskripsidiri2{
    font-size: 10pw;
    color: #373f49;
}

.col-sm-4{
    color: black;
}

.cv {
    background-color: #89E6DD;
    border: none;
    color: #47525E;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.cv-hijau {
    background-color: #80ff80;
    border: none;
    color: #47525E;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

