<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Hello!</title>
</head>
<body>
    <h1>Hello, Apa kabar?</h1>
    <div class="container" id="btnactivity">
        <section name="form">
                <br>
                <form id="form" method="POST" action="{% url 'landing_page' %}">
                    {% csrf_token %}
                    {{ statusform }}
                    <br>
                    <button type="submit" class="btn btn-default" id="submitbutton">Submit</button>
                </form>
            </section>    
    </div>

    <div class="container" id="allschedule">
        <table class="table">
                <thead>
                    <th>Status</th>
                    <th>Waktu</th>
                </thead>
                <tbody>
                    {% for i in showstatus %}
                    <tr>
                        <td> {{ i.statusnya }} </td>
                        <td> {{ i.created_at }} </td></tr>
                    {% endfor %}
                </tbody>
            </table>      
</div>
</body>
</html>
