<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/subs.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body onload="myFunction()" style="margin:0;">
<div id="loader"></div>
<div style="display:none;" id="myDiv" class="animate-bottom">
<div class="navbar-frame">
    <nav class="navbar navbar-inverse">
        <div class="BlueNavbar" id="temanavbar">
        <div class="container-fluid">
            <div class="navbar-head er">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'showprofile' %}">Fadhlan's</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'showprofile' %}">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="mailto:fadhlan.permana@gmail.com">Contact Me!</a></li>
                </ul>
            </div>
        </div>
    </div>
    </nav>
</div>
<div class="diatas">
    <div class="container-fluid">
        <h2>Hi, Welcome to my personal Website! </h2>
        <h2>My name is Fadhlan, and currently I'm taking degree in Computer Science at University of Indonesia</h2>
        <a href="https://drive.google.com/open?id=1iP44bz8N7mLp8co85spYbcmfIMI85_z4" class="cv" id="temacv" >Curiculum Vitae</a>
    </div>
    <button type="button" class="btn btn-danger" onclick="change.call(this)" id="buttoncolor">Change Color</button>
</div>

<div class="deskripsi-diri" id="aboutme">
    <div class="container-fluid">
        <div class="media">
            <div class="media-left">
                <a href="http://imgbox.com/ztcWb4rF" target="_blank"><img
                        src="https://thumbs2.imgbox.com/98/36/ztcWb4rF_t.png" alt="image host" class="media-object"></a>
            </div>
            <div class="media-body">
                <h3 id="deskripsidiri">My name is Fadhlan Hafizh Permana, I was born in Jakarta in 1997. </h3>
                <h3 id="deskripsidiri2">My hobby is travelling and culinary, i love to discover local cuisine when i
                    visit a town </h3>
            </div>
        </div>
    </div>
</div>

<div class="accordionqna">
    <div class="container-fluid">
        <h2>Frequently Asked Questions </h2>
        <div id="accordion">
            <h3>Aktivitas</h3>
            <div>
                <p>Kuliah, Bermain, Tidur</p>
            </div>
            <h3>Pengalaman Organisasi/Kepanitiaan</h3>
            <div>
                <li>Stage - Compfest</li>
                <li>PJ LO - Wisuda</li>
                <li>Acara - College Bowl</li>
            </div>
            <h3>Prestasi</h3>
            <div>
                <ul>
                <li>Juara 4 Matematika, UB</li>
                <li>Finalis Olimpiade Online Nasional</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="column">
            <h1>Subscribe to my Website!</h1>
            {% csrf_token %}
            {{ subsform }}
            <div id="statusForm"></div>
            <button class="button" name="submit" id="submit" disabled>Submit</button>
    </div>
    <div class="column">
            <table class="table">
                    <thead>
                        <th>Nama</th>
                    </thead>
                    <tbody id="list-subs-html">
                    </tbody>
                </table>  

    </div>
  </div>

</div>

<!-- {% block extrajs %}
    <script type="text/javascript">
      var get_subs_url = "{% url 'getsubs' %}";
    </script>
{% endblock %} -->

</body>
</html>